.card {
min-width: 282px;
max-width: 100%;
}
.card__title {
  max-width: 350px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card__image {
  height: 282px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;

}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: medium 20px/1 'Poppins', sans-serif;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  padding: 25px 20px 20px;

}

.card__like-button {
  background-image: url("../images/spots-images/Union.svg");
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}