
.card__image {
  height: 413px;
  width: 100%;
  object-fit: 100%;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: medium 20px/1 'Poppins', sans-serif;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.card__like-button {
  background-image: url("../images/spots-images/Union.svg");
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}