.card {
min-width: 282px;
max-width: 100%;
display: flex;
flex-direction: column;
position: relative;
}
.card__title {
  margin: 0;
  font: 500 20px/1.2 'Poppins', sans-serif;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-image: url("../images/State=DeleteTrashCanDefault.png");
  background-color: transparent;
  border: none;
}
.card__delete-button:hover {
  cursor: pointer;
  background-image: url("../images/State=DeleteTrashCanHover.png");
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 20px/1 'Poppins', sans-serif;
  color: #212121;

}

.card__like-button {
  background-image: url("../images/spots-images/Union.svg");
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__like-button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/HeartLiked.svg");
  opacity: 100%;
}

.card__like-button_active:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;

    }
  .card__image {
    height: 288px;
  }
}