.footer {
display: flex;
justify-content: center;
align-items: center;
max-width: 1280px;
margin: 0 auto;
padding: 0 20px;
border-top: 1px rgba(33, 33, 33, 0.4) solid;
}
.footer__text {
  margin: 0;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 16px;
  }

}