.modal {
 visibility: hidden;
 background-color: #00000080;
 position : fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 opacity: 0;
 transition: visibility 0.3s, opacity 0.3s ease-in;
 z-index: 1111;
}

.modal_is-opened {
 visibility: visible;
 opacity: 1;
}

.modal__container {
 position: relative;
  max-width: 730px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-button {
 position: absolute;
 top: 32px;
 right: 50px;
 width: 40px;
 height: 40px;
 background-image: url("../images/spots-images/Close\ Icon.svg");
 background-color: transparent;
 border: none;
 cursor: pointer;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}

.modal__close-button_type_preview {
  top: 0px;
  right: -48.5px;
   background-image: url("../images/Close-Icon.svg");

}

.modal__close-button:hover {
 opacity: 0.6;
 cursor: pointer;
}

.modal__title {
 margin: 0 0 32px;
 font: 500 32px/1 'Poppins', sans-serif;
 color: #212121;
 text-align: left;
}

.modal__form {
 display: flex;
 flex-direction: column;
}
.modal__label {
 margin: 0 0 32px;
 font: 500 16px/1 'Poppins', sans-serif;
 color: #212121B2;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 12px 16px;
  font: 500 20px/1 'Poppins', sans-serif;
  color: #212121;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal__input::placeholder {
  color: #2121214D;
}
.modal__submit-button {
  align-self: flex-start;
  font: 500 16px/1 'Poppins', sans-serif;
  color: #FCF5E5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  text-align: center;
}
.modal__submit-button:hover {
  opacity: 0.7;
}

.modal__image-container {
  position: relative;

}

.modal__preview-image {

  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;

}
.modal__caption {
  margin: 12px 0 0;
  width: fit-content;
  padding: 4px 8px;
  font: 500 20px/1.2 'Poppins', sans-serif;
  color: white;
  background-color: #212121;
  border-radius: 4px;
}

@media screen and (max-width: 760px) {
 .modal__container {
   padding: 22px 12px 12px;
 }
.modal__close-button_type_preview{
  top: -40px;
  right: -8px;
 }
}

@media screen and (max-width: 480px) {
 .modal__container {
   padding: 22px 12px 16px;
 }

.modal__close-button {
  top: 12px;
  right: 12px;
 }

 .modal__close-button_type_preview {
 top: -40px;
 right: 0;
}

 .modal__caption {
   font-size: 16px;
 }

 .modal__preview-image {
   max-width: 90vw;
 }

.modal__title {
  font-size: 20px;
 }
.modal__input {
  font-size: 16px;
}
.modal__submit-button {
  max-width: none;
 }
}
