.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font: 500 32px/1 'Poppins', sans-serif;
   display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font: 500 16px/1 'Poppins', sans-serif;
  color: rgba(21, 21, 21, 0.7);
   display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  gap: 8px;
  width: 112px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;

}
.profile__add-button {
  margin-left: auto;
  color: #FCF5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 52px;
  background-color: #212121;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }

}