.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  display: block;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__avatar-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 12px;
  gap: 8px;

  opacity: 0;
  transition: opacity 0.3s ease;

  border: none;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar-overlay {
  opacity: 1;
}

.profile__avatar-container {
  position: relative;
  width: fit-content;
}

/* .profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  visibility: hidden;
  cursor: pointer;
} */

/* .profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
} */

.profile__avatar-text {
  color: white;
  font-size: 14px;
  bottom: auto;
}

.profile__avatar-icon {
  width: 24px;
  height: 24px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font:
    500 32px/1 "Poppins",
    sans-serif;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font:
    500 16px/1 "Poppins",
    sans-serif;
  color: rgba(21, 21, 21, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  margin-top: auto;
  color: #fcf5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 52px;
  background-color: #212121;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.profile__add-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "Edit Avatar";
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }
  .profile__avatar-text {
    display: none;
  }
  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
